* {
    font-family: "Trebuchet MS";
}

#main {


    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */

}

.form1 {
    display: inline;
    width: 100%;
}

img {
    height: 400px;
    width: 400px;
    /* border: 2px solid black; */
    object-fit: scale-down;
}

.image {

    border: 2px solid black;
    border-radius: 15%;
    margin: 10px;
    text-align: center;

}

#image-cont {
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

input {
    font-size: 20px;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 2px solid black;
}

#addfile {
    font-size: 20px;
    border-radius: 10px;
    margin-top: 15px;
    width: 225px;
    /* border: 2px solid black; */


}



button {
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid black;
    margin-top:  10px;
    cursor: pointer;

}

#modal {
    position: absolute;
    overflow: scroll;
    border-radius: 5%;
    padding: 8px;
    z-index: 9999;
    width: 75%;
    top: 25px;
    left: 200px;
    /* min-height: 100px;
    right: 0; */
    background-color: white;
    text-align: center;
    color: black;
    border: 3px black solid;

}

#modalimage {
    width: 500px;
    height: 400px;
}

#more-button {
    width: 70px;
    height: 40px;
    margin-left: 30px;
    margin-top: 30px;

}

.description {


}

#leftarrow {
    float: left;
}

#rightarrow {
    float: right;

}




.comments {
    /* background-color: lightgray; */
    border: 3px dashed white;
    border-radius: 10%;
    display: inline-block;
}


a:link, a:visited, a:hover, a:active {
   color: black;
   background-color: transparent;
   text-decoration: underline;
}

.comment {
    border: 2px dashed black;

}

.text {
    display: inline-block;
}
