* {
    font-family: "Trebuchet MS";
}

#main {

    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;

}

.form1 {

}

img {
    height: 400px;
    width: 400px;
    /* border: 2px solid black; */
    object-fit: scale-down;
}

.image {
    border: 2px solid black;
    border-radius: 15%;
    margin: 10px;
    text-align: center;

}

input {
    font-size: 20px;
    border-radius: 15%;
    margin-top: 10px;

}

#addfile {
    font-size: 20px;
    border-radius: 15%;
    margin-top: 15px;
    /* border: 2px solid black; */
    width: 225px;
}

button {
    font-size: 20px;
    border-radius: 25%;
    border: 2px solid black;
    margin-top:  10px;

}

#modal {
    position: absolute;
    border-radius: 5%;
    padding: 8px;
    z-index: 9999;
    width: 75%;
    /* height: 1000px; */
    margin-left: 300px;
    background-color: white;
    text-align: center;
    color: black;
    border: 3px black solid;

}

#modalimage {
    width: 500px;
    height: 400px;
}

#more-button {
    width: 60px;
    height: 40px;
}

.description {


}

.comments {
    /* background-color: lightgray; */
    border: 3px dashed white;
    border-radius: 10%;
    display: inline-block;
}
