* {
    font-family: "Trebuchet MS";
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

img {
    height: 300px;
    width: 300px;
    /* border: 2px solid black; */
    object-fit: cover;
}

.image {
    border: 2px solid black;
    margin: 10px;
}

input {
    font-size: 20px;
}

button {
    font-size: 20px;
    border-radius: 25%;
    border: 2px solid black;
}

#modal {
    position: absolute;
    border-radius: 14px;
    padding: 8px;
    z-index: 9999;
    width: 50%;
    height: 1000px;
    margin-left: 300px;
    background-color: grey;
    text-align: center;

}

#modalimage {
    width: 500px;
    height: 500px;


}

/* #movex {
    text-align: right;

} */
